WebLab2/SoapManager.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions targetNamespace="urn:SoapManager" name="SoapManager" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="urn:SoapManager" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="urn:SoapManager" schemaLocation="SoapManager_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="Delete">
    <part name="parameters" element="tns:Delete"/>
  </message>
  <message name="DeleteResponse">
    <part name="parameters" element="tns:DeleteResponse"/>
  </message>
  <message name="Insert">
    <part name="parameters" element="tns:Insert"/>
  </message>
  <message name="InsertResponse">
    <part name="parameters" element="tns:InsertResponse"/>
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update"/>
  </message>
  <message name="UpdateResponse">
    <part name="parameters" element="tns:UpdateResponse"/>
  </message>
  <message name="Select">
    <part name="parameters" element="tns:Select"/>
  </message>
  <message name="SelectResponse">
    <part name="parameters" element="tns:SelectResponse"/>
  </message>
  <portType name="SoapManager">
    <operation name="Delete">
      <input wsam:Action="urn:SoapManager:SoapManager:DeleteRequest" message="tns:Delete"/>
      <output wsam:Action="urn:SoapManager:SoapManager:DeleteResponse" message="tns:DeleteResponse"/>
    </operation>
    <operation name="Insert">
      <input wsam:Action="urn:SoapManager:SoapManager:InsertRequest" message="tns:Insert"/>
      <output wsam:Action="urn:SoapManager:SoapManager:InsertResponse" message="tns:InsertResponse"/>
    </operation>
    <operation name="Update">
      <input wsam:Action="urn:SoapManager:SoapManager:UpdateRequest" message="tns:Update"/>
      <output wsam:Action="urn:SoapManager:SoapManager:UpdateResponse" message="tns:UpdateResponse"/>
    </operation>
    <operation name="Select">
      <input wsam:Action="urn:SoapManager:SoapManager:SelectRequest" message="tns:Select"/>
      <output wsam:Action="urn:SoapManager:SoapManager:SelectResponse" message="tns:SelectResponse"/>
    </operation>
  </portType>
  <binding name="SoapManagerPortBinding" type="tns:SoapManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Delete">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Insert">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Update">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="Select">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SoapManager">
    <port name="SoapManagerPort" binding="tns:SoapManagerPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

