Ответы на вопросы/Вопрос 4/WebLab3.4Console/xml-resources/web-service-references/SoapManager_1/wsdl/desktop-vimllah_8080/WebLab3/SoapManager.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Lab3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Lab3/" name="SoapManager">
<types>
<xsd:schema>
<xsd:import namespace="http://Lab3/" schemaLocation="http://desktop-vimllah:8080/WebLab3/SoapManager?xsd=1"/>
</xsd:schema>
</types>
<message name="Delete">
<part name="parameters" element="tns:Delete"/>
</message>
<message name="DeleteResponse">
<part name="parameters" element="tns:DeleteResponse"/>
</message>
<message name="MissFormatException">
<part name="fault" element="tns:MissFormatException"/>
</message>
<message name="OutOfRangeException">
<part name="fault" element="tns:OutOfRangeException"/>
</message>
<message name="Insert">
<part name="parameters" element="tns:Insert"/>
</message>
<message name="InsertResponse">
<part name="parameters" element="tns:InsertResponse"/>
</message>
<message name="Select">
<part name="parameters" element="tns:Select"/>
</message>
<message name="SelectResponse">
<part name="parameters" element="tns:SelectResponse"/>
</message>
<message name="Update">
<part name="parameters" element="tns:Update"/>
</message>
<message name="UpdateResponse">
<part name="parameters" element="tns:UpdateResponse"/>
</message>
<portType name="SoapManager">
<operation name="Delete">
<input wsam:Action="http://Lab3/SoapManager/DeleteRequest" message="tns:Delete"/>
<output wsam:Action="http://Lab3/SoapManager/DeleteResponse" message="tns:DeleteResponse"/>
<fault message="tns:MissFormatException" name="MissFormatException" wsam:Action="http://Lab3/SoapManager/Delete/Fault/MissFormatException"/>
<fault message="tns:OutOfRangeException" name="OutOfRangeException" wsam:Action="http://Lab3/SoapManager/Delete/Fault/OutOfRangeException"/>
</operation>
<operation name="Insert">
<input wsam:Action="http://Lab3/SoapManager/InsertRequest" message="tns:Insert"/>
<output wsam:Action="http://Lab3/SoapManager/InsertResponse" message="tns:InsertResponse"/>
<fault message="tns:MissFormatException" name="MissFormatException" wsam:Action="http://Lab3/SoapManager/Insert/Fault/MissFormatException"/>
</operation>
<operation name="Select">
<input wsam:Action="http://Lab3/SoapManager/SelectRequest" message="tns:Select"/>
<output wsam:Action="http://Lab3/SoapManager/SelectResponse" message="tns:SelectResponse"/>
<fault message="tns:MissFormatException" name="MissFormatException" wsam:Action="http://Lab3/SoapManager/Select/Fault/MissFormatException"/>
</operation>
<operation name="Update">
<input wsam:Action="http://Lab3/SoapManager/UpdateRequest" message="tns:Update"/>
<output wsam:Action="http://Lab3/SoapManager/UpdateResponse" message="tns:UpdateResponse"/>
<fault message="tns:MissFormatException" name="MissFormatException" wsam:Action="http://Lab3/SoapManager/Update/Fault/MissFormatException"/>
<fault message="tns:OutOfRangeException" name="OutOfRangeException" wsam:Action="http://Lab3/SoapManager/Update/Fault/OutOfRangeException"/>
</operation>
</portType>
<binding name="SoapManagerPortBinding" type="tns:SoapManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MissFormatException">
<soap:fault name="MissFormatException" use="literal"/>
</fault>
<fault name="OutOfRangeException">
<soap:fault name="OutOfRangeException" use="literal"/>
</fault>
</operation>
<operation name="Insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MissFormatException">
<soap:fault name="MissFormatException" use="literal"/>
</fault>
</operation>
<operation name="Select">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MissFormatException">
<soap:fault name="MissFormatException" use="literal"/>
</fault>
</operation>
<operation name="Update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="MissFormatException">
<soap:fault name="MissFormatException" use="literal"/>
</fault>
<fault name="OutOfRangeException">
<soap:fault name="OutOfRangeException" use="literal"/>
</fault>
</operation>
</binding>
<service name="SoapManager">
<port name="SoapManagerPort" binding="tns:SoapManagerPortBinding">
<soap:address location="http://desktop-vimllah:8080/WebLab3/SoapManager"/>
</port>
</service>
</definitions>