Ответы на вопросы/Вопрос 7/WebLab3.7Console/xml-resources/web-service-references/SoapManager_1/wsdl/localhost_8080/WebLab3.7/SoapManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Lab3/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Lab3/">

<xs:element name="Delete" type="tns:Delete"/>

<xs:element name="DeleteResponse" type="tns:DeleteResponse"/>

<xs:element name="Insert" type="tns:Insert"/>

<xs:element name="InsertResponse" type="tns:InsertResponse"/>

<xs:element name="MissFormatException" nillable="true" type="tns:soapServiceFault"/>

<xs:element name="OutOfRangeException" nillable="true" type="tns:soapServiceFault"/>

<xs:element name="Select" type="tns:Select"/>

<xs:element name="SelectResponse" type="tns:SelectResponse"/>

<xs:element name="Update" type="tns:Update"/>

<xs:element name="UpdateResponse" type="tns:UpdateResponse"/>

<xs:complexType name="Delete">
<xs:sequence>
<xs:element name="Id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeleteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="soapServiceFault">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Update">
<xs:sequence>
<xs:element name="Id" type="xs:string" minOccurs="0"/>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
<xs:element name="SecondName" type="xs:string" minOccurs="0"/>
<xs:element name="Age" type="xs:string" minOccurs="0"/>
<xs:element name="Sex" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UpdateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Insert">
<xs:sequence>
<xs:element name="Id" type="xs:string" minOccurs="0"/>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
<xs:element name="SecondName" type="xs:string" minOccurs="0"/>
<xs:element name="Age" type="xs:string" minOccurs="0"/>
<xs:element name="Sex" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Select">
<xs:sequence>
<xs:element name="Id" type="xs:string" minOccurs="0"/>
<xs:element name="Name" type="xs:string" minOccurs="0"/>
<xs:element name="SecondName" type="xs:string" minOccurs="0"/>
<xs:element name="Age" type="xs:string" minOccurs="0"/>
<xs:element name="Sex" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SelectResponse">
<xs:sequence>
<xs:element name="return" type="tns:sqlObject" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sqlObject">
<xs:sequence>
<xs:element name="age" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="secondName" type="xs:string" minOccurs="0"/>
<xs:element name="sex" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>